<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.reservationMapper">
<sql id="search">
</sql>
<resultMap type="ReservationVO" id="reservation">
	<id property="no" column="no"/>
	<result property="userno.userno" column="userno"/>
	<result property="rdate" column="rdate"/>
	<result property="rstatus" column="rstatus"/>
	<collection property="products" ofType="ProductVO">
		<id property="pno" column="pno"/>
		<result property="pname" column="pname"/>
		<result property="pcontent" column="pcontent"/>
		<result property="pexpire" column="pexpire"/>
		<result property="pprice" column="pprice"/>
		<result property="pic" column="ppic"/>
		<result property="pdiv" column="pdiv"/>
		<collection property="air" ofType="AirplaneVO">
			<id property="no" column="a2no"/>
			<result property="ano" column="ano"/>
			<result property="dlocation" column="dlocation"/>
			<result property="rlocation" column="rlocation"/>
			<result property="ddate" column="ddate"/>
			<result property="rdate" column="rdate"/>
			<result property="capacity" column="a2capacity"/>
			<result property="seat" column="seat"/>
			<result property="price" column="a2price"/>
			<result property="ldiv" column="ldiv"/>
			<result property="pdiv" column="pdiv"/>
		</collection>
		<collection property="hotel" ofType="HotelVO">
			<id property="no" column="h2no"/>
			<result property="hname" column="hname"/>
			<result property="haddr" column="haddr"/>
			<result property="checkin" column="checkin"/>
			<result property="checkout" column="checkout"/>
			<result property="capacity" column="h2capacity"/>
			<result property="price" column="h2price"/>
			<result property="roomcapacity" column="roomcapacity"/>
			<result property="roomtype" column="roomtype"/>
			<result property="ldiv" column="ldiv"/>
			<result property="bookedup" column="bookedup"/>
			<result property="totalcapacity" column="totalcapacity"/>
			<result property="pdiv" column="pdiv"/> 
		</collection>
		<collection property="tour" ofType="TourVO">
			<id property="no" column="t2no"/>
			<result property="tname" column="tname"/>
			<result property="tlocation" column="tlocation"/>
			<result property="startDate" column="startdate"/>
			<result property="endDate" column="enddate"/>
			<result property="taddr" column="taddr"/>
			<result property="etime" column="etime"/>
			<result property="capacity" column="t2capacity"/>
			<result property="tprice" column="t2tprice"/>
			<result property="ldiv" column="ldiv"/>
			<result property="pdiv" column="pdiv"/> 
		</collection>
		<collection property="rentcar" ofType="RentcarVO">
			<id property="no" column="r2no"/>
			<result property="cdiv" column="cdiv"/>
			<result property="cno" column="cno"/>
			<result property="rentddate" column="rentddate"/>
			<result property="returndate" column="returndate"/>
			<result property="rentaddr" column="rentaddr"/>
			<result property="returnaddr" column="returnaddr"/>
			<result property="price" column="r2price"/>
			<result property="capacity" column="r2capacity"/>
			<result property="insurance" column="insurance"/>
			<result property="ldiv" column="ldiv"/>
			<result property="pdiv" column="pdiv"/>
		</collection>
	</collection>
</resultMap>
<insert id="insertReservation">
	insert into reservation(no,userno,rstatus) values(#{no},#{userno.userno},#{rstatus})
</insert>
<select id="listReservation" resultMap="reservation">
	select r.*,p.pno,p.pname,p.pcontent,p.pexpire,p.pprice,p.ppic,p.pdiv,
	    a2.no as a2no,a2.ano,a2.dlocation,a2.rlocation,a2.ddate,a2.rdate,a2.ldiv,a2.capacity as a2capacity,a2.seat,a2.price as a2price,a2.pdiv, 
	    h2.no as h2no,h2.hname,h2.haddr,h2.checkin,h2.checkout,h2.capacity as h2capacity,h2.price as h2price,h2.roomcapacity,h2.roomtype,h2.ldiv,h2.bookedup,h2.totalcapacity,h2.pdiv,
	    t2.no as t2no,t2.tname,t2.tlocation,t2.startdate,t2.enddate,t2.taddr,t2.etime,t2.capacity as t2capacity,t2.tprice as t2tprice,t2.ldiv,t2.pdiv,
	    r2.no as r2no,r2.cdiv,r2.cno,r2.rentddate,r2.returndate,r2.rentaddr,r2.returnaddr,r2.price as r2price,r2.capacity as r2capacity,r2.insurance,r2.ldiv,r2.pdiv 
		from (select * from reservation order by no desc limit #{pageStart}, #{perPageNum}) r 
		join userpstatus u on r.userno = u.userno join product p on u.pno = p.pno
		join pairstatus a on p.pno = a.pno join airplane a2 on a.ano = a2.no
		join photelstatus h on p.pno = h.pno join hotel h2 on h.hno = h2.no
		join ptourstatus t on p.pno = t.pno join tour t2 on t.tno = t2.no
		join prentstatus r on p.pno = r.pno join rentcar r2 on r.rno = r2.no
</select>
<select id="ReadReservationByUserNo" resultMap="reservation">
	select r.*,p.pno,p.pname,p.pcontent,p.pexpire,p.pprice,p.ppic,p.pdiv,
	    a2.no as a2no,a2.ano,a2.dlocation,a2.rlocation,a2.ddate,a2.rdate,a2.ldiv,a2.capacity as a2capacity,a2.seat,a2.price as a2price,a2.pdiv, 
	    h2.no as h2no,h2.hname,h2.haddr,h2.checkin,h2.checkout,h2.capacity as h2capacity,h2.price as h2price,h2.roomcapacity,h2.roomtype,h2.ldiv,h2.bookedup,h2.totalcapacity,h2.pdiv,
	    t2.no as t2no,t2.tname,t2.tlocation,t2.startdate,t2.enddate,t2.taddr,t2.etime,t2.capacity as t2capacity,t2.tprice as t2tprice,t2.ldiv,t2.pdiv,
	    r2.no as r2no,r2.cdiv,r2.cno,r2.rentddate,r2.returndate,r2.rentaddr,r2.returnaddr,r2.price as r2price,r2.capacity as r2capacity,r2.insurance,r2.ldiv,r2.pdiv 
		from (select * from reservation where userno = #{u.userno} and rstatus = '1' order by no desc limit #{cri.pageStart}, #{cri.perPageNum}) r 
		join userpstatus u on r.userno = u.userno join product p on u.pno = p.pno
		join pairstatus a on p.pno = a.pno join airplane a2 on a.ano = a2.no
		join photelstatus h on p.pno = h.pno join hotel h2 on h.hno = h2.no
		join ptourstatus t on p.pno = t.pno join tour t2 on t.tno = t2.no
		join prentstatus r on p.pno = r.pno join rentcar r2 on r.rno = r2.no
</select>
<select id="totalSearchReservationCount" resultType="int">
	select count(*) from reservation
	<include refid="search"/>
</select>
<select id="totalSearchReservationCountByUserNo" resultType="int">
	select count(*) from reservation where userno = #{u.userno} and rstatus = '1'
	<include refid="search"/>
</select>
<update id="updateReservation">
	update reservation
	<set>
		<if test="rstatus!=null">rstatus = #{rstatus}</if>
	</set>
	where no = #{no}
</update>
<delete id="deleteReservation">
	delete from reservation where no = #{no} 
</delete>
</mapper>