<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.reservationMapper">
<insert id="insertReservation" parameterType="ReservationVO">
	insert into reservation(no,userno,rstatus) values(#{no},#{userno.userno},#{rstatus})
</insert>
<select id="listReservation" resultType="ReservationVO">
	select * from reservation
</select>
<select id="ReadReservationByNo">
	
</select>
<select id="totalSearchReservationCount">

</select>
<update id="updateReservation">

</update>
<delete id="deleteReservation">

</delete>
</mapper>