<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.ReviewMapper">
	
<insert id="addReview">
	insert into review values(#{no}, #{rno},#{pno}, #{userno}, #{regdate}, #{starpoint}, #{reviewTitle}, #{reviewContent})
</insert>

<select id="checkReviewExists" resultType="ReviewVO">
	select * from review
</select>

<select id="readReviewByUserno" resultType="ReviewVO">
	select * from review where userno = #{userno}
</select>

</mapper>