<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.statisticMapper">
	<select id="searchTotalPriceJejuByMonth" resultType="StatisticVO">
		select * from totalpricebymonth where location = '제주'
	</select>
	<select id="searchTotalPriceDokyoByMonth" resultType="StatisticVO">
		select * from totalpricebymonth where location = '도쿄'
	</select>
	<select id="searchTotalPriceBeijingByMonth" resultType="StatisticVO">
		select * from totalpricebymonth where location = '베이징'
	</select>
	<select id="searchTotalCountByLocation" resultType="StatisticVO">
		select * from preferenceproduct
	</select>
</mapper>