<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.TourMapper">
<sql id="search">
	<where>
		pdiv = #{pdiv}
		<if test='searchType=="name"'>
			and tname like CONCAT('%',#{keyword},'%')
		</if>
		<if test='searchType=="location"'>
			and tlocation like CONCAT('%',#{keyword},'%')
		</if>
		<if test='searchType=="date"'>
			and startDate = #{keyword}
		</if>
		<if test='searchType=="addr"'>
			and taddr like CONCAT('%',#{keyword},'%')
		</if>
		<if test='searchType=="div"'>
			<if test='keyword=="해외"'>
				and ldiv = 1
			</if>
			<if test='keyword=="국내"'>
				and ldiv = 0
			</if>
		</if>
	</where>
</sql>
<select id="listPage" resultType="TourVO">
	select * from tour <include refid="search"/> order by no desc limit #{pageStart},#{perPageNum}
</select>
<select id="selectTourByNo" resultType="TourVO">
	select * from tour where no = #{no}
</select>
<insert id="insertTour" parameterType="TourVO">
	insert into tour values
	(#{no},#{tname},#{tlocation},#{startDate},#{endDate},#{taddr},#{etime},#{capacity},#{tprice},#{ldiv},#{pdiv})
</insert>
<update id="updateTour" parameterType="TourVO">
	update tour 
	<set>
			<if test="tname!=null">tname = #{tname},</if>
			<if test="tlocation!=null">tlocation = #{tlocation},</if>
			<if test="startDate!=null">startdate = #{startDate},</if>
			<if test="endDate!=null">enddate = #{endDate},</if>
			<if test="taddr!=null">taddr = #{taddr},</if>
			<if test="etime!=null">etime = #{etime},</if>
			<if test="capacity!=null">capacity = #{capacity},</if>
			<if test="tprice!=null">tprice = #{tprice},</if>
			<if test="ldiv!=null">ldiv = #{ldiv},</if>
	</set>
	where no = #{no}
</update>
<delete id="deleteTour" parameterType="TourVO">
	delete from tour where no = #{no}
</delete>
<select id="totalCount" resultType="int">
	select count(no) from tour
</select>
<select id="totalCountBySearchCriteria" resultType="int">
	select count(no) from tour
	<include refid="search"/>
</select>
</mapper>